/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: Gordita, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/gordita/Gordita-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/gordita/Gordita-Regular.woff") format("woff"),
    url("./fonts/gordita/Gordita-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/gordita/Gordita-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/gordita/Gordita-Thin.woff") format("woff"),
    url("./fonts/gordita/Gordita-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/gordita/Gordita-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/gordita/Gordita-Medium.woff") format("woff"),
    url("./fonts/gordita/Gordita-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Gordita";
  src: url("./fonts/gordita/Gordita-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/gordita/Gordita-Bold.woff") format("woff"),
    url("./fonts/gordita/Gordita-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

:root {
  /* Base Colors */
  --black: #333;
  --white: #fff;
  --solid-blue: #4483c1;
  --solid-darkblue: #2c4f7c;
  --solid-lightblue: #b8d7ff;

  /* Theme Colors */
  --text-base: var(--black);
  --text-secondary: var(--gray-5);
  --text-links: var(--solid-blue);
  --text-links-hover: var(--solid-darkblue);
  --bg-base: var(--white);
  --bg-secondary: var(--slate-1);
  --text-headings: var(--solid-darkblue);
  --outline-headings: var(--gray-2);
  --text-code: var(--gray-8);

  /* Tailwind Colors */
  --gray-1: #f3f4f6;
  --gray-2: #e5e7eb;
  --gray-3: #d1d5db;
  --gray-4: #9ca3af;
  --gray-5: #6b7280;
  --gray-6: #4b5563;
  --gray-7: #374151;
  --gray-8: #1f2937;
  --gray-9: #111827;

  --slate-1: #f1f5f9;
  --slate-2: #e2e8f0;
  --slate-3: #cbd5e1;
  --slate-4: #94a3b8;
  --slate-5: #64748b;
  --slate-6: #475569;
  --slate-7: #334155;
  --slate-8: #1e293b;
  --slate-9: #0f172a;

  --neutral-1: #f5f5f5;
  --neutral-2: #e5e5e5;
  --neutral-3: #d4d4d4;
  --neutral-4: #a3a3a3;
  --neutral-5: #737373;
  --neutral-6: #525252;
  --neutral-7: #404040;
  --neutral-8: #262626;
  --neutral-9: #171717;

  /* Tailwind Spacing */
  --spacing-0-5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-1-5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2-5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-3-5: 0.875rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --spacing-40: 10rem;
  --spacing-44: 11rem;
  --spacing-48: 12rem;
  --spacing-52: 13rem;
  --spacing-56: 14rem;
  --spacing-60: 15rem;
  --spacing-64: 16rem;
  --spacing-72: 18rem;
  --spacing-80: 20rem;
  --spacing-96: 24rem;

  /* Tailwind Sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-default: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2.25rem;
  --text-4xl: 2.5rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

:root[data-theme="dark"] {
  --text-base: var(--white);
  --text-secondary: var(--gray-3);
  --bg-base: var(--neutral-8);
  --bg-secondary: var(--neutral-9);
  --text-headings: var(--solid-lightblue);
  --outline-headings: var(--neutral-6);
  --text-links: var(--solid-lightblue);
  --text-links-hover: var(--solid-blue);
  --text-code: var(--neutral-9);
}

body {
  background-color: var(--bg-base);
}

.prose {
  color: var(--text-base);
  font-size: 1rem;
  line-height: var(--spacing-7);
}

.divider,
.prose :is(h1, h2) {
  line-height: 1.1111111;
  border-bottom: 1px solid var(--outline-headings);
  padding-bottom: var(--spacing-4);
  margin-bottom: var(--spacing-6);
}

.prose :is(h1, h2, h3, h4) {
  font-weight: 600;
  color: var(--text-headings);
  margin-top: var(--spacing-10);
}

.prose h1 {
  font-size: var(--text-3xl);
}

.prose h3 {
  font-size: var(--text-xl);
  margin-bottom: var(--spacing-3);
}

.prose h4 {
  margin-bottom: var(--spacing-2);
}

.prose :is(ul, ol) {
  padding-left: var(--spacing-8);
}

.prose li {
  margin-block: var(--spacing-2);
}

.prose li::marker {
  color: var(--gray-5);
}

.prose p {
  margin-block: var(--spacing-5);
}

.prose a {
  color: var(--text-links);
}

.prose aside a {
  --text-links: var(--solid-lightblue);
  --text-links-hover: var(--solid-blue);
}

.prose a:is(:hover, :focus) {
  color: var(--text-links-hover);
}

.prose code {
  padding: var(--spacing-0-5);
  background-color: rgb(203 213 225 / 0.2);
  border-radius: var(--spacing-1-5);
}

.prose pre code {
  background: none;
}

.prose pre {
  /* Override github-dark default background */
  background-color: var(--text-code) !important;
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-7);
  padding: var(--spacing-4) var(--spacing-3-5);
  border-radius: 0.5rem;
}

.prose img,
video {
  width: 100%;
}

.copy-code {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--solid-blue);
  color: var(--white);
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  line-height: 1rem;
  border-radius: 0 0.5rem 0 0.5rem;
  border-style: none;
}

.copy-code:hover {
  background-color: var(--solid-darkblue);
  cursor: pointer;
}
