---
import ThemeToggle from "./ThemeToggle";
import MobileNavToggle from "./MobileNavToggle";
import Logo from "./Logo.astro";
---

<header>
  <Logo />
  <div class="right-container">
    <ThemeToggle client:load />
    <MobileNavToggle client:media="(max-width: 50em)" />
  </div>
</header>

<style>
  :root {
    --header-height: 50px;
  }

  header {
    position: fixed;
    padding-inline: var(--spacing-7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-base);
    width: 100%;
    height: var(--header-height);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 999;
  }

  .right-container {
    display: flex;
    gap: var(--spacing-1);
    flex-direction: row;
    align-items: center;
  }
</style>
