---
---

<nav aria-label="Primary">
  <h2 class="divider">Getting Started</h2>
  <ul>
    <li><a href="/" aria-current="page">What is SolidStart?</a></li>
    <li><a href="/test">Project setup</a></li>
  </ul>
  <h2 class="divider">Getting Started</h2>
  <ul>
    <li><a href="/" aria-current="page">What is SolidStart?</a></li>
    <li><a href="/test">Project setup</a></li>
  </ul>
  <h2 class="divider">Getting Started</h2>
  <ul>
    <li><a href="/" aria-current="page">What is SolidStart?</a></li>
    <li><a href="/test">Project setup</a></li>
  </ul>
  <h2 class="divider">Getting Started</h2>
  <ul>
    <li><a href="/" aria-current="page">What is SolidStart?</a></li>
    <li><a href="/test">Project setup</a></li>
  </ul>
  <h2 class="divider">Getting Started</h2>
  <ul>
    <li><a href="/" aria-current="page">What is SolidStart?</a></li>
    <li><a href="/test">Project setup</a></li>
  </ul>
  <h2 class="divider">Getting Started</h2>
  <ul>
    <li><a href="/" aria-current="page">What is SolidStart?</a></li>
    <li><a href="/test">Project setup</a></li>
  </ul>
</nav>

<style>
  nav {
    background-color: var(--slate-1);
    padding: var(--spacing-7);
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
  }

  nav h2 {
    font-size: var(--text-xl);
    font-weight: 400;
    padding-bottom: var(--spacing-2);
  }

  nav ul {
    padding: 0;
    margin-bottom: var(--spacing-8);
    list-style-type: none;
  }

  nav li {
    padding-block: var(--spacing-1);
  }

  li a {
    color: var(--gray-5);
    text-decoration: none;
    font-weight: 600;
  }

  li a[aria-current="page"] {
    color: var(--solid-blue);
  }
</style>
