---
import { sidebar } from "../sidebar";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;
---

<nav aria-label="Primary">
  {
    Object.entries(sidebar).map(([header, children]) => (
      <>
        <h2 class="divider">{header}</h2>
        <ul>
          {children.map(({ slug, text }) => {
            return (
              <li>
                <a
                  href={`${Astro.site?.pathname}${slug}/`}
                  aria-current={currentPage.includes(slug) ? "page" : false}
                >
                  {text}
                </a>
              </li>
            );
          })}
        </ul>
      </>
    ))
  }
</nav>

<style>
  nav {
    background-color: var(--bg-secondary);
    padding: var(--spacing-7);
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
  }

  nav h2 {
    color: var(--text-base);
    font-size: var(--text-xl);
    font-weight: 400;
    padding-bottom: var(--spacing-2);
  }

  nav ul {
    padding: 0;
    margin-bottom: var(--spacing-8);
    list-style-type: none;
  }

  nav li {
    padding-block: var(--spacing-1);
  }

  li a {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 600;
  }

  li a[aria-current="page"] {
    color: var(--solid-blue);
  }
</style>
