---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<nav aria-label="Secondary">
  <h2>On this page</h2>
  <ul>
    {
      headings.map(({ depth, slug, text }) => {
        return (
          <li data-depth={depth}>
            <a href={`#${slug}`}>{text}</a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  nav {
    padding: var(--spacing-7);
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
  }

  nav h2 {
    color: var(--text-base);
    font-size: var(--text-xs);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: var(--spacing-2);
  }

  nav ul {
    padding: 0;
    margin-bottom: var(--spacing-8);
    list-style-type: none;
  }

  nav li {
    padding-block: var(--spacing-1);
  }

  li[data-depth="2"] {
    padding-left: var(--spacing-2);
  }

  li[data-depth="3"] {
    padding-left: var(--spacing-4);
  }

  li[data-depth="3"] {
    padding-left: var(--spacing-6);
  }

  li a {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--text-sm);
  }
</style>
