---
---

<nav>
  <h2>On this page</h2>
  <ul>
    <li><a href="#features">Features</a></li>
    <li><a href="#prerequisites">Prerequisites</a></li>
  </ul>
</nav>

<style>
  nav {
    padding: var(--spacing-7);
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
  }

  nav h2 {
    font-size: var(--text-xs);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: var(--spacing-2);
  }

  nav ul {
    padding: 0;
    padding-left: var(--spacing-2);
    margin-bottom: var(--spacing-8);
    list-style-type: none;
  }

  nav li {
    padding-block: var(--spacing-1);
  }

  li a {
    color: var(--gray-5);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--text-sm);
  }
</style>
