---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import LeftSidebar from "../components/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar.astro";
import Header from "../components/Header/Header.astro";

interface Props {
  content: CollectionEntry<"docs">["data"];
  headings: MarkdownHeading[];
}

const { content, headings } = Astro.props;

const currentPage = Astro.url.pathname;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/logos/solid-icon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/global.css" />
    <title>{content.title}</title>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      document.documentElement.setAttribute("data-theme", theme);
      window.localStorage.setItem("theme", theme);

      const copyToClipboard = (button) => {
        if (button.dataset.code) {
          const code = decodeURIComponent(button.dataset.code);
          button.dataset.state = "copied";
          button.title = "Copied";
          navigator.clipboard.writeText(code);

          setTimeout(() => {
            button.dataset.state = "copy";
            button.title = "Copy to clipboard";
          }, 1500);
        }
      };
    </script>
  </head>
  <body>
    <Header />
    <main>
      <aside class="left-side">
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <section class="content-container">
        <article class="prose">
          <slot />
        </article>
      </section>
      <aside class="right-side">
        <RightSidebar headings={headings} />
      </aside>
    </main>
  </body>
</html>

<style>
  :root {
    --left-sidebar-width: 400px;
    --right-sidebar-width: 240px;
  }

  html {
    scroll-margin-top: calc(var(--header-height) + 20px);
    scroll-padding-top: calc(var(--header-height) + 20px);
  }

  main {
    display: flex;
    flex-direction: row;
    padding-top: var(--header-height);
  }

  .content-container {
    width: 100%;
    min-width: 0;
  }

  article {
    max-width: 60ch;
    margin-inline: auto;
    padding-block: var(--spacing-4);
    padding-inline: var(--spacing-10);
  }

  aside {
    display: flex;
    position: fixed;
    top: var(--header-height);
    overflow-y: auto;
  }

  .left-side {
    visibility: hidden;
    width: var(--left-sidebar-width);
  }

  .right-side {
    visibility: hidden;
    inset-inline-end: 0;
    width: var(--right-sidebar-width);
  }

  @media (min-width: 72em) {
    .content-container {
      margin-inline-end: var(--right-sidebar-width);
    }

    .right-side {
      visibility: visible;
    }
  }

  @media (min-width: 50em) {
    .content-container {
      margin-inline-start: var(--left-sidebar-width);
    }

    .left-side {
      visibility: visible;
    }
  }
</style>
