---
import "../../public/global.css";
import Preferences from "../components/Preferences/Preferences";
import ThemeToggle from "../components/ThemeToggle";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
}>;

const { frontmatter }: Props = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./global.css" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <ThemeToggle client:load />
    <main>
      <aside>
        <nav></nav>
      </aside>
      <div class="content-container">
        <article class="prose">
          <slot />
        </article>
      </div>
      <aside>
        <nav></nav>
      </aside>
    </main>
  </body>
</html>

<style>
  .content-container {
    margin: auto;
    max-width: 65ch;
    padding-block: var(--spacing-4);
    padding-inline: var(--spacing-2);
  }

  article {
    padding-inline: var(--spacing-10);
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  document.documentElement.setAttribute("data-theme", theme);
  window.localStorage.setItem("theme", theme);
</script>
