---
import "../../public/global.css";
import ThemeToggle from "../components/ThemeToggle";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
	title: string;
}>;

const { frontmatter } = Astro.props;
---

<html>
	<title>{frontmatter.title}</title>
	<body>
		<ThemeToggle client:load />
		<slot />
		<script is:inline>
			const theme = (() => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			})();

			document.documentElement.setAttribute("data-theme", theme);
			window.localStorage.setItem("theme", theme);
		</script>
	</body>
</html>
