---
import "../../public/global.css";
import ThemeToggle from "../components/ThemeToggle";
---

<html>
	<body>
		<ThemeToggle client:load />
		<!-- <script src="../webcontainer.ts"></script> -->
		<slot />
		<script is:inline>
			const theme = (() => {
				if (
					typeof localStorage !== "undefined" &&
					localStorage.getItem("theme")
				) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			})();

			document.documentElement.setAttribute("data-theme", theme);
			window.localStorage.setItem("theme", theme);
		</script>
		<slot />
	</body>
</html>
